{include file='layout/_head'/}

	<div class="container">
		<div class="content center-block animated fadeInDown">
			<div class="page-header h1">用户注册</div>
			<form method='post' action="/index.php/user">
				<div class="form-group">
					<label for="username" class="control-label">用户名</label>
					<input value="" type="text" class="form-control" id="username" name="username" placeholder="填写用户名" />
				</div>
				<div class="form-group">
					<label for="password" class="control-label">密码</label>
					<input type="password" class="form-control" id="password" name="password" placeholder="填写密码" />
				</div>
				<div class="form-group">
					<label for="conpass" class="control-label">确认密码</label>
					<input type="password" class="form-control" id="conpass" name="conpass" placeholder="确认密码" />
				</div>
				<div class="form-group">
					<label for="verify" class="control-label">验证码</label>
					<div class="input-group">
						<input type="text" class="form-control" id="verify" name="verify" placeholder="验证码" />
						<span class="input-group-addon">123</span>
					</div>
				</div>
				<input type="hidden" name="__token__" value="{$Request.token}" />
					{include file='../public/share/_messages.html'/}
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block">注册</button>
				</div>
			</form>
		</div>
		<div class="bottom center-block animated fadeInUp">
			Copyright 2018 www.dreamphp.com.cn All Rights Reserved
		</div>
	</div>
	
	<script src="{:config('frontAsset')}js/jquery-3.3.1.min.js"></script>
	<script src="{:config('frontAsset')}js/bootstrap.min.js"></script>
</body>
</html>